 
    <div class="card col-lg-2">
      <img class="card-img-top" src="../public/Images/rockstar_stock.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-center">{{bandName}}</h5>
      </div>
      <form class="form-group text-center">
        <button class="btn btn-secondary" id="{{id}}">Review This Band</button>
      </form>
    </div>
