
{{#each bands}}
<div class="row justify-content-center">
    <div class="card d-inline-block offset-1" style="width: 18rem;">
        <img class="card-img-top" src="../public/Images/Beatles.jfif" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title text-center">{{dataValues.bandName}}</h5>
        </div>
        <div class="card-body">
            <a href="" id="{{dataValues.id}}" class="card-link">Review This Band</a>
        </div>
    </div>
</div>
{{/each}}