<div class="container">
    <div class="row justify-content-center">
        <h1 class="block-header"> How was the show? </h1>
    </div>
    <hr />
    <form>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <label for="Author"> Enter a Screen Name </label>
                <input type="text" class="form-control" placeholder="Name">
                <label for="rating"> Rating </label>
                <input type="number" class="form-control" id="rating" placeholder="Rate the band's performance">
                <label for="location"> Venue </label>
                <input type="location" class="form-control" data-provide="datepicker" placeholder="Where was the show?">
            </div>
            <div class="col-md-4 ml-5">
                <label for="date"> When was the show? </label>
                <br>
                <button class="btn btn-secondary btn-small" id="calBtn">Calander</button>
                <div class="picker"></div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10 mt-5">
                <label for="Textarea"> Comments </label>
                <textarea class="form-control" id="Textarea" rows="8"></textarea>
            </div>
        </div>
        <div class="row offset-md-10 mt-1">
            <input id="commentSubmit" class="btn btn-secondary" type="submit" value="Submit">
        </div>
    </form>
</div>
</div>